<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="bundle.js" async></script>
  <title>Extract pocketbook highlights</title>
</head>

<body style="margin: 0">
  <div id="header">
    <h2>
      <a id="link_to_home" href="/">Home</a>
    </h2>
    <p>Click on row to copy text</p>
  </div>

  <%if (list.length > 0) { %>
  <div data-controller="filters" id="filters">
    <div>
      <h4>Author</h4>
      <select data-action="filters#selectAuthor" name="author" id="author">

        <% authors.forEach((item) => { %>
        <option value="<%= item %>" <% if (selectedAuthor === item) { %>selected<% } %> %>>
          <%= item %>
        </option>
        <% }) %>

      </select>
    </div>

    <%if (isAuthorSelected) { %>
    <div>
      <h4>Book name</h4>
      <select data-action="filters#selectBook" name="book" id="book">

        <% books.forEach((item) => { %>
        <option value="<%= item %>" <% if (selectedBook === item) { %>selected<% } %> %>>
          <%= item %>
        </option>
        <% }) %>

      </select>
    </div>
    <% } %>
  </div>

  <div style="padding: 50px 30px;">
    <table>
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Text</th>
      </tr>

      <% list.forEach((item) => { %>
      <tr data-controller="list" data-action="click->list#copy">
        <td><%= item.Authors %></td>
        <td><%= item.Title %></td>
        <td data-target="list.source"><%= item.Text %></td>
      </tr>
      <% }) %>

    </table>
  </div>
  <% } else{ %>
  <div class="center_container">
    <p id="no_highlights_text">No highlights found</p>
  </div>
  <% } %>
</body>

</html>
